@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600&family=Space+Mono&display=swap');

@font-face {
  font-family: leoscar;
  src: url('/fonts/Leoscar.ttf');
}

@font-face {
  font-family: 'ErikasBuero';
  src: url('/public/fonts/ErikasBuero.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cool-grey-one {
  color: #2C3E50;
}
.cool-grey-two {
  color: #95A5A6;
}
.cool-grey-three {
  color: #D6DBDF;
}
.cool-grey-four {
  color: #F2F4F6;
}

.transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
}

.aboutMe{
  margin-top: 0;
  padding: 200px 0 200px 0;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 50px 0 100px 0;
  }

  .aboutMe {
    padding: 50px 0 100px 0;
  }
}

.project{
  margin-top: 0;
  padding: 100px 0 0 0;
  font-size: 50px;
}

.banner h1 {
  color: #CBD7F6;
  padding-bottom: 25px;
  font-size: 65px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner.light-mode h1 {
  color: #1C72BE;
}

.banner.light-mode h2 {
  color: #3b82c1;
}

.banner.light-mode p {
  color: #4d91cd;
}

.banner h2 {
  color: #8793AF;
  font-size: 50px;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.aboutMe h1{
  font-size: 50px;
}

.light-mode-h {
  color: #1C72BE;
}

.light-mode-h2 {
  color: #3b82c1;
}

.banner p {
  color: #5C6883;
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.5em;
  width: 50%;
}

.paraWidth {
  width: 60%;
}

@media (max-width: 768px) {
  .banner p {
    width: 90%; 
  }
  .paraWidth {
    width: 90%;
  }
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.blinking-cursor {
  display: inline-block;
  animation: blink 1.2s linear infinite;
}

.cursor {
  font-weight: 200; 
  opacity: 0.6; 
  font-size: 0.8em;  
  content: '|';
}

.bg-color-text {
  color: rgb(10,25,47);
}

.bg-custom-gradient {
  background-color:hsla(240,100%,9%,1);
  background-image:
  radial-gradient(at 57% 13%, hsla(232,83%,9%,1) 0px, transparent 50%),
  radial-gradient(at 97% 24%, hsla(230,75%,24%,0.57) 0px, transparent 50%),
  radial-gradient(at 99% 100%, hsla(245,11%,55%,0.4) 0px, transparent 50%),
  radial-gradient(at 5% 97%, hsla(245,37%,28%,0.91) 0px, transparent 50%),
  radial-gradient(at 58% 87%, hsla(237,64%,26%,1) 0px, transparent 50%);
}

.bg-custom-graident-light {
  background-image: linear-gradient(to left top, #b9cff0, #cfdaf4, #e1e5f7, #f2f2fb, #ffffff);
}

.text-custom-cyan {
  color: #65FFDA;
}

.fonts{
  font-family: leoscar, 'Ubuntu', sans-serif;
}

.ErikasBuero{
  font-family: 'Space Mono', monospace, 'Ubuntu', sans-serif;
}

.titleColor{
  color: #CBD7F6;;
}

.titleBg{
  background-color: #CBD7F6;;
}

.textColor{
  color: #8793AF;
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
}

.jump {
  animation: jump 0.5s ease;
}

.boxColor{
  background-color: #101241;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.37);
}