@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Leoscar';
  src: url('/public/fonts/Leoscar.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cool-grey-one {
  color: #2C3E50;
}
.cool-grey-two {
  color: #95A5A6;
}
.cool-grey-three {
  color: #D6DBDF;
}
.cool-grey-four {
  color: #F2F4F6;
}

.transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner {
  margin-top: 0;
  padding: 150px 0 100px 0;
}

.banner h1 {
  color: #CBD7F6;
  padding-bottom: 25px;
  font-size: 65px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner h2 {
  color: #8793AF;
  font-size: 50px;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #5C6883;
  padding-top: 50px;
  font-size: 18px;
  line-height: 1.5em;
  width: 60%;
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.blinking-cursor {
  display: inline-block;
  animation: blink 1.2s linear infinite;
}

.cursor {
  font-weight: 200; 
  opacity: 0.6; 
  font-size: 0.8em;  
  content: '|';
}

.bg-custom-gradient {
  background: rgb(10,25,47);
  background: linear-gradient(0deg, rgba(10,25,47,1) 0%, rgba(10,25,47,1) 100%);
}

.text-custom-cyan {
  color: #65FFDA;
}

.fonts{
  font-family: 'leoscar';
}